<div class="panel panel-success">
    <h1 align="center">Data Kos</h1>
    <hr>
    &ensp;<a class="btn btn-info" href [routerLink]="['/koscreate']"><span class="glyphicon glyphicon-plus"></span></a>
    <table class="table">
        <thead>
            <tr>
                <td>
                    <h3>Kode Kos</h3>
                </td>
                <td>
                        <h3>Nama Kos</h3>
                    </td>
                <td>
                    <h3>Lokasi</h3>
                </td>
                <td>
                    <h3>Aksi</h3>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of dataKos">
                <td>
                    <h4>{{item.KdKos}}</h4>
                </td>
                <td>
                        <h4>{{item.NamaKos}}</h4>
                    </td>
                <td>
                    <h4>{{item.Location}}</h4>
                </td>
                <td>
                    <a class="btn btn-success" href [routerLink]="['/kosdetail/',item._id]"><span class="glyphicon glyphicon-search"></span></a>
                    <a class="btn btn-info" href [routerLink]="['/kosedit/',item._id]"><span class="glyphicon glyphicon-pencil"></span></a>
                    <button class="btn btn-danger" type="button" (click)="KosDelete(item._id)"><span class="glyphicon glyphicon-trash"></span></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
