
  <h1 align="center">Form Penghuni Baru</h1><br/>
  <form  (ngSubmit) = "PenghuniCreate(dataPenghuniCreate)" class="form-horizontal">
      <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">Kode Kos</label>
          <div class="col-sm-9">
              <input [(ngModel)]="dataPenghuniCreate.KdKos" type="text" name="KdKos" class="form-control">
          </div>
      </div>
      <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">Kode Kamar Kos</label>
          <div class="col-sm-9">
              <input [(ngModel)]="dataPenghuniCreate.KdKamarKos" type="text" name="KdKamarKos" class="form-control">
          </div>
      </div>
      <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">Nama Penghuni</label>
          <div class="col-sm-9">
              <input [(ngModel)]="dataPenghuniCreate.NamaPenghuni" type="text" name="NamaPenghuni" class="form-control">
          </div>
      </div>
      <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">TGLKos</label>
          <div class="col-sm-9">
              <input [(ngModel)]="dataPenghuniCreate.TGLKos" type="date" name="TGLKos" class="form-control">
          </div>
      </div>
      <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">No. KTP</label>
          <div class="col-sm-9">
              <input [(ngModel)]="dataPenghuniCreate.NoKTP" type="text" name="NoKTP" class="form-control">
          </div>
      </div>
      <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">No. HP</label>
          <div class="col-sm-9">
              <input [(ngModel)]="dataPenghuniCreate.NoHP" type="text" name="NoHP" class="form-control">
          </div>
      </div>
      <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">Nama Bank</label>
          <div class="col-sm-9">
              <input [(ngModel)]="dataPenghuniCreate.NamaBank" type="text" name="NamaBank" class="form-control">
          </div>
      </div>
     
     
      
      <button class="btn btn-success" type="submit">Save</button>
  </form>
          
      