
    <div>
  <h1 align="center">Edit Penjaga</h1>
        <br/>
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-1 control-label">Kode Penjaga</label>
                <div class="col-sm-10">
                    <input [(ngModel)]="dataPenjagaEdit.KdPenjaga" name="KdPenjaga" type="text" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">Kode Kos</label>
                <div class="col-sm-10">
                    <input [(ngModel)]="dataPenjagaEdit.KdKos" name="KdKos" type="text" class="form-control">
                </div>
            </div>
            <div class="form-group">
                    <label class="col-sm-1 control-label">Nama Penjaga</label>
                    <div class="col-sm-10">
                        <input [(ngModel)]="dataPenjagaEdit.NamaPenjaga" name="NamaPenjaga" type="text" class="form-control">
                    </div>
                </div>
                <button class="btn btn-success" (click)="EditPenjaga(this.dataPenjagaEdit._id)">Save</button>
        </form>
    </div>