
  <h1 align="center">Form Kost Baru</h1><br/>
  <form  (ngSubmit) = "KosCreate(dataKosCreate)" class="form-horizontal">
      <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">Kode Kos</label>
          <div class="col-sm-9">
              <input [(ngModel)]="dataKosCreate.KdKos" type="text" name="KdKos" class="form-control">
          </div>
      </div>
      <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Nama Kos</label>
            <div class="col-sm-9">
                <input [(ngModel)]="dataKosCreate.NamaKos" type="text" name="NamaKos" class="form-control">
            </div>
        </div>
       <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">Kategori Kos</label>
          <div class="col-sm-9">
                <select [(ngModel)]="dataKosCreate.KategoriKos" name="KategoriKos" class="form-control">
                  <option value="Kelas1">Elite</option>
                  <option value="Kelas2">Menengah</option>
                  <option value="Kelas3">Ekonomis</option>>
                </select>
          </div>
      </div> 
      <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">Jumlah Kamar</label>
          <div class="col-sm-9">
              <input [(ngModel)]="dataKosCreate.JmlKamar" name="JmlKamar" type="text" class="form-control">
          </div>
      </div>

       <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">Lokasi</label>
          <div class="col-sm-9">
              <input [(ngModel)]="dataKosCreate.Latitude" name="Latitude" type="text" class="form-control">
              <input [(ngModel)]="dataKosCreate.Longitude" name="Longitude" type="text" class="form-control">
          </div>
      </div> 

      <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">Pendapatan</label>
          <div class="col-sm-9">
              <input [(ngModel)]="dataKosCreate.Pendapatan" name="Pendapatan" type="text" class="form-control">
          </div>
      </div>
      <button class="btn btn-success" type="submit">Save</button>
  </form>
          
      