<div>
  <h1 align="center">Edit Fiturkos</h1>
  <br/>
  <form class="form-horizontal">
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-3 control-label">Kode Kos</label>
      <div class="col-sm-6">
        <input [(ngModel)]="dataFiturkosEdit.KdKos"  type="text" class="form-control" id="kdKos"  name="Kdkos" value={{dataFiturkosEdit.KdKos}}>
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-3 control-label">Air</label>
      <div class="col-sm-6">
        <input [(ngModel)]="dataFiturkosEdit.Air"  type="number" class="form-control" name="Air" id="Air" value={{dataFiturkosEdit.Air}}>
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-3 control-label">Internet</label>
      <div class="col-sm-6">
        <input [(ngModel)]="dataFiturkosEdit.Internet"  type="number" class="form-control" name="Internet" id="Internet" value={{dataFiturkosEdit.Internet}}>
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-3 control-label">Listrik</label>
      <div class="col-sm-6">
        <input [(ngModel)]="dataFiturkosEdit.Listrik" name="Listrik" type="number" class="form-control" id="Listrik" value={{dataFiturkosEdit.Listrik}}>
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-3 control-label">Kamar Mandi</label>
      <div class="col-sm-6">
        <select [(ngModel)]="dataFiturkosEdit.KamarMandi" name="KamarMandi" type="text" class="form-control" id="KamarMandi">
          <option value="Dalam">Dalam</option>
          <option value="Luar">Luar</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-3 control-label">Kulkas</label>
      <div class="col-sm-6">
        <select [(ngModel)]="dataFiturkosEdit.Kulkas" name="Kulkas" type="text" class="form-control" id="Kulkas">
          <option *ngFor="let item of dataFiturkosEdit" [ngValue]="default">{{item.Kulkas}}</option>
          <option value="true">Ada</option>
          <option value="false">Tidak Ada</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-3 control-label">TV</label>
      <div class="col-sm-6">
        <select [(ngModel)]="dataFiturkosEdit.TV" name="TV" type="text" class="form-control" id="TV">
          <option *ngFor="let item of dataFiturkosEdit" [ngValue]="default">{{item.TV}}</option>
          <option value="true">Ada</option>
          <option value="false">Tidak Ada</option>
        </select>
      </div>
    </div>
  </form>
</div>

<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">Simpan</button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Fiturkos</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Batal</button>
        <button class="btn btn-success" (click)="EditFiturkos(this.dataFiturkosEdit._id)">Ya</button>
      </div>
    </div>

  </div>
</div>