<div>
  <h1 align="center">Edit Fiturkos</h1>
  <br/>
  <form class="form-horizontal">
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-1 control-label">Kode Kos</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="kdKos" value={{dataFiturkosEdit.KdKos}}>
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-1 control-label">Kode Kos</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="Internet" value={{dataFiturkosEdit.Internet}}>
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-1 control-label">Kamar Mandi</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="KamarMandi" value={{dataFiturkosEdit.KamarMandi}}>
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-1 control-label">Air</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="Air" value={{dataFiturkosEdit.Air}}>
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-1 control-label">Listrik</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="Listrik" value={{dataFiturkosEdit.Listrik}}>
      </div>
    </div>
    <button class="btn btn-success" (click)="EditFiturkos(this.dataFiturkosEdit._id)">Save</button>
  </form>
</div>