<div>
  <h1 align="center">Edit Gaji Penjaga</h1>
  <br/>
  <form class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-1 control-label">Kategori Kos</label>
      <div class="col-sm-10">
        <input [(ngModel)]="dataGajiEdit.KategoriKos" name="KategoriKos" type="text" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-1 control-label">Gaji Penjaga</label>
      <div class="col-sm-10">
        <input [(ngModel)]="dataGajiEdit.Gaji" name="Gaji" type="text" class="form-control">
      </div>
    </div>
  </form>
</div>

<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">Simpan</button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Simpan Gaji Penjaga</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Batal</button>
        <button class="btn btn-success" (click)="EditGaji(this.dataGajiEdit._id)">Ya</button>
      </div>
    </div>

  </div>
</div>